.App {
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  color: #FFFFFF;
  background: #1d1d2b;
  align-items: center;
  z-index:100;
  margin: 0 auto;
}

#header-holder {
  font-size: 25px;
  padding: 5px 0;
  max-width: 550px;
  min-width: 550px;
  margin: 0 auto;
  text-align: left;
}

#header-holder span {
  color: #999999;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
}

#content {
  background: #FFFFFF;
  align-items: center;
}

#content-holder {
  max-width: 550px;
  min-width: 550px;
  margin: 0 auto;
}

.filter-block {
  background: #eeeeee;
  max-width: 550px;
  min-width: 550px;
  padding: 10px 20px;
  text-align: left;
}

.filter-block input {
  margin-right: 20px;
}